body{
background:#333;
text-align:center;
font-size:12px;
font-family:Arial, “Helvetica Neue”, Helvetica, sans-serif;
color:#999;
}
h2{
text-align:left;
font-size:14px;
line-height:50px;
margin-left:30px !important;
}

.block p{
padding:0px;
margin:0px;
font-size:13px;
}
.block{
padding:0px;
width:600px;
margin:0 auto;
color:#111;
font-weight:bold;
}
.top{
padding:20px;
min-height:70px;
text-align:left;
background:#ededed;
}
.bottom{
height:40px;
background: url(../images/bottom.png) top left no-repeat;
}
.heading{
text-align:left;
width:640px;
height:47px;
margin:0 auto;
font-size:11px;
line-height:50px;
background: url(../images/heading.png) top left no-repeat;
margin-top:20px;
}

.header{
width:600px;
height:100px;
margin:0 auto;
margin-top:30px;
background:url(../images/head.png) top center no-repeat;
border-bottom: 1px solid #444;
}
.big_text,.small_text{
display:block;
width:600px;
}
.big_text{
font-size:50px;
color:#ccc;
}
.small_text{
font-size:20px;
letter-spacing:2px;
color:#777;
}


pre {
	font-size: 12px;
	padding: 0;
	margin: 0;
	background: #f0f0f0;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	line-height: 20px; /*--Height of each line of code--*/
	background: #ccc; /*--Background of lined paper--*/
	width: 555px;
	overflow: auto; /*--If the Code exceeds the width, a scrolling is available--*/
	overflow-Y: hidden;  /*--Hides vertical scroll created by IE--*/
}
pre code {
	margin: 0 0 0 40px;  /*--Left Margin--*/
	padding: 18px 0;
	display: block;
}
pre {
	overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */ /*
	width: 99%; */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.clear{
clear:both;
}




